
// import Swiper styles
@import 'swiper/swiper-bundle.css';

@import "~bootstrap/scss/bootstrap";

@import "scss/common/fonts";
@import "scss/common/base";

@import "scss/layouts/header";
@import "scss/layouts/content";
@import "scss/layouts/slider";