.container{
  padding: 0;
}
.advantage-container{
  background-image: url('./assets/images/pattern.png');
  background-size: cover;
}
.advantages{
  padding: 55px 0 80px;
  
  @include media-breakpoint-down(lg){
    padding: 40px 0 20px;
  }
  @include media-breakpoint-down(sm) {
    padding: 15px 0 20px;
    max-width: 350px;
    margin: 0 auto;
  }
}
.advantage{
  // padding: 0;
  
  @include media-breakpoint-down(md){
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    text-align: left;
    align-items: center;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.advantage-text{
  font-size: 15px;
  margin: 20px auto 0;
  max-width: 210px;

  @include media-breakpoint-up(md){
    font-size: 13px;
    line-height: 18px;
  }
  @include media-breakpoint-down(sm){
    max-width: 230px;
    margin: 0 0 0 20px;
  }
  @include media-breakpoint-up(xs){
    font-size: 12px;
    line-height: 16px;
  }
}

.advantage-img{
  max-width: 122px;

  @include media-breakpoint-down(lg){
    max-width: 88px;
  }
  @include media-breakpoint-down(sm){
    max-width: 50px;
  }
}




.brand-container{
  padding: 30px 12px 120px;
  @include media-breakpoint-up(sm){
    max-width: 1200px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 0 100px;
  }
}
.title{
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  text-align: center;
  color: #000;
  
  @include media-breakpoint-up(sm) {
    font-size: 24px;
    line-height: 32px;
  }
  @include media-breakpoint-up(md) {
    font-size: 28px;
    line-height: 38px;
  }
}
.sub-decription{
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin: 24px auto 40px;
  max-width: 1100px;
}
.cards-brand{
  justify-content: space-between;
  align-items: center;
  margin: 0;
  column-gap: 40px;
  @include media-breakpoint-up(xs) {
    column-gap: 0;
  }
}
.card-brand{
  padding: 0;
}
.card--premium{
  border-radius: 30px;
  max-width: 396px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.16);
  @include media-breakpoint-down(md) {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .card-title{
    background: #F44336;
    color: #fff;
    border-radius: 30px 30px 0px 0px;
    @include media-breakpoint-down(sm) {
      border-radius: 10px 10px 0px 0px;
    }
  }
  .card-content{
    border-radius: 0px 0px 30px 30px;
    padding: 45px 20px 25px;
    border: none;
    @include media-breakpoint-only(md) {
      padding: 45px 10px 25px;
    }
    @include media-breakpoint-down(sm) {
      padding: 40px 10px 15px;
    }
  }  
}
.card-brand--comfort, .card-brand--standart{
  max-width: 360px;
  @include media-breakpoint-up(xs) {
    max-width: 100%;
  }
}
.card-title{
  background: #EEEEEE;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000;
  height: 74px;
  line-height: 74px;
  border-radius: 20px 60px 0px 0px;
  margin-bottom: 0;
  @include media-breakpoint-only(md) {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }
}

.card-content{
  border-right: 4px solid #EEEEEE;
  border-left: 4px solid #EEEEEE;
  border-bottom: 4px solid #EEEEEE;
  border-radius: 0px 0px 20px 60px;
  padding: 25px 20px;
  @include media-breakpoint-only(md) {
    padding: 15px 10px 25px;
  }
  
}
.card-brand-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  @include media-breakpoint-up(xs) {
    justify-content: space-around;
  }
}
.brand-icon{
  width: 50%;
  text-align: center;

  img{
    max-width: 100%;
  }
  @include media-breakpoint-up(xs) {
    width: 35%;
  }
}
.card-link{
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #F44336;
  display: block;
  margin: 40px auto 0;
  max-width: 158px;
  padding: 14px 24px;
  border: 1.5px solid #F44336;
  border-radius: 25px 30px 30px 5px;

  &:hover{
    color: #fff;
    background: #F44336;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  }
}

